__pycache__/
*.py[cod]
*.db
*.db-shm
*.db-wal
node_modules/
dist/
.env
*.egg-info/
.venv/
uploads/audio/*
uploads/photos/*
uploads/videos/*
!uploads/audio/.gitkeep
!uploads/photos/.gitkeep
!uploads/videos/.gitkeep
backend/uploads/*
.DS_Store
